pkgbase = nodejs-remark-preset-lint-recommended
	pkgdesc = remark lint plugin with settings that help prevent mistakes and highlights syntaxes that do not work correctly across vendors.
	pkgver = 3.0.3
	pkgrel = 1
	url = https://github.com/remarkjs/remark-lint/tree/master/packages/remark-preset-lint-recommended
	changelog = CHANGELOG.md
	arch = any
	license = MIT
	makedepends = jq
	makedepends = npm
	depends = nodejs
	source = https://registry.npmjs.org/remark-preset-lint-recommended/-/remark-preset-lint-recommended-3.0.3.tgz
	source = CC-by-SA-v4.md
	source = CHANGELOG.md
	source = ISSUES.md
	source = LICENSE
	source = LICENSE.md
	source = README.md
	sha256sums = 7c43a4ed3efc40b8ddc43930f83eba4e0392fb26df2e8ec2f8fff454a229e5ee
	sha256sums = 2eb478e66440f36b2533e9b2b26d192f4d5ccbe1e266b8dba0011571649c9040
	sha256sums = 7227eca51fab2ed7a48cfb36241843543b09f2b7db809f64415ddae663897b3e
	sha256sums = 1bd4b7dbabb6f09156d492d2db061dbaab4389985b60f4c3b56938b9bc0fbb92
	sha256sums = ed52f87c3904a045931ff47fef50c31840b2f80f3618ce7a9d188918a9f83357
	sha256sums = bce77135821f026322a689bb1e0a1d40839b717df8312576094e560e2c4779a7
	sha256sums = 6fd443dd301f83e072d3a678328fb905f51412b7f53651cbf68c3dd016eab760

pkgname = nodejs-remark-preset-lint-recommended

